.agentframe-web,
.agentframe-web-theme {
  --color-text-1: #0c0d0e;
  --color-text-2: #42464e;
  --color-text-3: #737a87;
  --color-text-4: #a5aab3;
  --color-border-1: #f0f1f3;
  --color-border-2: #e8eaed;
  --color-border-3: #dde2e9;
  --color-border-4: #c7ccd6;
  --color-bg-1: #fff;
  --color-bg-2: #f6f6f6;
  --color-bg-3: #fff;
  --color-bg-4: #fff;
  --color-bg-5: #fff;
  --color-fill-1: #f7f8fa;
  --color-fill-2: #f2f3f5;
  --color-fill-3: #e5e6eb;
  --color-fill-4: #c9cdd4;
  --color-fill-5: #a9aeb8;
  --danger-6: 245, 63, 63;
  --success-6: 0, 180, 42;
  --warning-6: 255, 125, 0;
  --link-6: 22, 100, 255;

  .lucide { width: 1em; height: 1em; }
  --primary-1: 243, 243, 243;
  --primary-2: 235, 235, 235;
  --primary-3: 146, 146, 147;
  --primary-4: 109, 110, 110;
  --primary-5: 48, 49, 50;
  --primary-6: 12, 13, 14;
  --primary-7: 10, 11, 12;
  --primary-8: 8, 9, 10;
  --primary-9: 5, 6, 7;
  --primary-10: 0, 0, 0;

  .hiagent-icon, .user-icon {
    --primary-1: 243, 247, 255;
    --primary-2: 235, 241, 255;
    --primary-3: 151, 188, 255;
    --primary-4: 110, 159, 255;
    --primary-5: 56, 123, 255;
    --primary-6: 22, 100, 255;
    --primary-7: 23, 89, 221;
    --primary-8: 17, 74, 185;
    --primary-9: 3, 26, 121;
    --primary-10: 0, 13, 77;
  }

  .hiagent-icon-loading {
    color: rgb(var(--link-6));
  }
}
