.projectLayout {
  background-color: var(--color-bg-2);
}

.navigation {
  display: flex;
  height: 36px;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  border-radius: 12px;
  color: var(--color-text-2);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    background: var(--color-bg-5);
    color: var(--color-text-1);
  }
}

.selectedNavigation {
  background: var(--color-bg-5);
  color: var(--color-text-1);
  font-weight: 600;
}
