.projectLayout {
  background-color: var(--background);
}

.navigation {
  display: flex;
  height: 36px;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  border-radius: 12px;
  color: var(--foreground);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    background: var(--muted);
    color: var(--foreground);
  }
}

.selectedNavigation {
  background: var(--muted);
  color: var(--foreground);
  font-weight: 600;
}
