.expanded {
  height: 100%;
}

.fullscreenButton {
  border: 0 !important;
  background: transparent !important;
  color: var(--color-text-2) !important;

  &:hover {
    background: var(--color-bg-6) !important;
    color: var(--color-text-2) !important;
  }
}

.disabledEditorArea {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}
