PORT=8008
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=telemetry
ENVIRONMENT=development
SAMPLE_RATE_PERFORM=1.0
SAMPLE_RATE_EVENT=1.0
