.modal {
  width: 96vw;
  height: 94vh;
  height: 94dvh;
  padding: 0;
  overflow: hidden;
  border-radius: 12px;

  :global(.canvas-modal-content) {
    height: 100%;
    padding: 0;
    overflow: hidden;
  }
}
